services:
  php:
    image: smartenergyview/smartenergyview-backend:latest
    build:
      context: ..
      dockerfile: docker/php/Dockerfile
    container_name: smartEnergyView-php
    restart: unless-stopped
    env_file:
      - .env
    expose:
      - "9000"
    networks:
      - app_net

  nginx:
    image: nginx:1.26-alpine
    container_name: smartEnergyView-nginx
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - php
    networks:
      - app_net

  postgres:
    image: postgres:16-alpine
    container_name: smartEnergyView-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: smartenergiaprod
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: VfHml#Z78!%kvvNM
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app_net

  redis:
    image: redis:7-alpine
    container_name: smartEnergyView-redis
    restart: unless-stopped
    networks:
      - app_net

networks:
  app_net:
    driver: bridge

volumes:
  pgdata:
